<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Вход</title>   
    <link rel="stylesheet" href="~/css/site.css" />    
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <div id="bg"></div>
    <div id="wrapper">
        <section class="container">
            <div class="login">
                <h1>Авторизация</h1>
                <form method="post" action="index.html">
                    <p><input type="text" name="login" value="" placeholder="Имя пользователя"></p>
                    <p><input type="password" name="password" value="" placeholder="Пароль"></p>
                    <p class="contact-input">
                        <label for="select" class="select">
                            <select name="subject" id="select">
                                <option value="" selected>Источник данных</option>
                                @Each
                                <option value="@Current.Value">@Current.Text</option>
                                @EndEach
                            </select>
                        </label>
                    </p>
                    <p class="submit"><input type="submit" name="commit" value="Вход"></p>
                </form>
            </div>
        </section>
        <section class="about">
            <p class="about-author">
                &copy; 2015&ndash;2016 <a href="http://http://tatintec.ru/asu" target="_blank">НТЦ ПР</a> - <a href="http://http://tatintec.ru/asu" target="_blank">ТатАСУ</a>
        </section>
    </div>
</body>
</html>
