@model accounts.UI.Logout.LoggedOutViewModel
@{
    Layout = "_MenuLayout";
}

<h1>Выход</h1>
<p>You are now logged out</p>
<p hide-if-null="Model.ReturnInfo">
    Click <a href="@Model.ReturnInfo.Uri">here</a> to return to the
    <span>@Model.ClientName</span> application.
</p>
@foreach (var url in Model.SignOutIFrameUrls)
{
    <iframe class="signout" src="@url"></iframe>
}     
