@using Kit.Core.Web.HtmlHelper
@{
    Layout = "_Layout";
}

<div class="body body-s">
    @RenderBody()
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/open-sans.css" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/form.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/form/sky-forms.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/form.min.css" asp-append-version="true">
    </environment>
    @{
        if (ViewBag.Theme != "cyan")
        {
            <link rel='stylesheet' href='/css/form/sky-forms-@(ViewBag.Theme + ".css")' />
        }
    }
    <!--[if lt IE 9]><link rel="stylesheet" href="/css/form/sky-forms-ie8.css"><![endif]-->
}

@section Scripts
{
    @Html.EnumToJs(typeof(Kit.Dal.CQRS.Command.Login.LoginStatus), true)
    <environment names="Development">
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="/lib/microsoft.jquery.unobtrusive.ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>
        <script src="/js/bootstrap3-msgbox.js" asp-append-version="true"></script>
        <script src="/js/form.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="/lib/microsoft.jquery.unobtrusive.ajax/jquery.unobtrusive-ajax.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/lib/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
        <script src="/js/form.min.js" asp-append-version="true"></script>
    </environment>
    <!--[if lt IE 10]><script src="/lib/jquery.placeholder/jquery.placeholder.min.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/js/sky-forms-ie8.js"></script><![endif]-->
}