@model Kit.Dal.CQRS.Command.Login.LoginCommand

<h1>Авторизация</h1>
<form asp-controller="Auth" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <p>
        <input asp-for="Login" placeholder="Имя пользователя"/>
    </p>
    <p>
        <input asp-for="Password" placeholder="Пароль"/>
    </p>
    <p class="contact-input">
        <label asp-for="DataSource" class="select">
            <select asp-for="DataSource" asp-items="ViewBag.TnsNames"></select>
        </label>
    </p>
    <p class="submit">
        <input type="submit" name="commit" value="Вход">
    </p>
</form>
