@using System.Threading.Tasks
@using Kit.Dal.CQRS.Command.Login
@using Kit.Kernel.Configuration
@using Kit.Kernel.Web.HtmlHelper
@using Microsoft.Extensions.OptionsModel
@inject IOptions<AppSettings> appSettings

@{
    ViewData["Title"] = appSettings.Value.Title ?? "IdentityServer4";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/open-sans.css" />
        <link rel="stylesheet" href="~/css/sky-forms.css">
        <link rel="stylesheet" href="~/css/site2.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/bootstrap3-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site2.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sky-forms.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/lib/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet" />
    </environment>
    @{
        string theme = appSettings.Value.Theme;
        if (string.IsNullOrEmpty(theme))
        {
            string[] themes = { "red", "yellow", "orange", "green", "cyan", "blue", "pink", "pirple", "black" };

            int len = themes.Count(), month = DateTime.Today.Month;
            theme = themes[month % len];
        }
        
        if (theme != "cyan")
        {
            theme += ".css";
            <link rel='stylesheet' href='~/css/sky-forms-@theme' />
        }
    }
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="~/css/sky-forms-ie8.css">
    <![endif]-->
</head>
<body class="bg-@theme">
    <div class="body body-s">
        @RenderBody()
    </div>
    <footer class="info">
        <div class="note">@DateTime.UtcNow.Year&nbsp;&nbsp;IdentityServer4</div>
    </footer>
    @Html.EnumToJs(typeof(LoginStatus), true)
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/microsoft.jquery.unobtrusive.ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>
        <script src="~/js/bootstrap3-msgbox.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/microsoft.jquery.unobtrusive.ajax/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <!--[if lt IE 10]>
            <script src="~/lib/jquery.placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="~/js/sky-forms-ie8.js"></script>
    <![endif]-->
</body>

</html>
