@model accounts.UI.Error.ErrorViewModel

@{
    Layout = "_MenuLayout";

    var error_description = Model?.Error?.ErrorDescription ?? "Sorry, there was an unexpected error.";
    var error_code = Model?.Error?.ErrorCode;
    var request_id = Model?.Error?.RequestId;
}

<h1>Error</h1>
<p hide-if-null="error_code" class="note-error">@Model.Error.ErrorCode</p>
<p class="note-error">@error_description</p>
<p hide-if-null="request_id" class="request-id">Request Id: @request_id</p>