html, body {
    margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-position: 50% 50%;
    -ms-background-size: cover;
    background-size: cover;
}

.body {
    max-width: 600px;
	margin: 0 auto;
	padding: 40px 0;
}

@media screen and (max-width: 1000px) {
	.body {
		padding: 20px;
	}
}

@media screen and (max-width: 767px) {
	.body {
		padding: 10px;
	}
}

.body-s {
	max-width: 400px;
}

.sky-form .input-validation-error {
    background: #fff0f0 !important;
}

#imgLoader {
    display: none;
    float: left;
    margin: 16px 0 0 2px;
}
