@model Kit.Dal.CQRS.Command.ChangePassword.ChangePasswordCommand

<form asp-controller="Auth" asp-action="Change" asp-route-returnurl="@ViewData["ReturnUrl"]" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccess" class="sky-form">
    <header>Введите новый пароль</header>

    <fieldset>
        <section>
            <label class="input">
                <i class="icon-append icon-lock"></i>
                <input asp-for="OldPassword" placeholder="Текущий пароль" />
                <b class="tooltip tooltip-bottom-right">Текущий пароль</b>
            </label>
        </section>

        <section>
            <label class="input">
                <i class="icon-append icon-lock"></i>
                <input asp-for="NewPassword" placeholder="Новый пароль" />
                <b class="tooltip tooltip-bottom-right">Новый пароль</b>
            </label>
        </section>

        <section>
            <label class="input">
                <i class="icon-append icon-lock"></i>
                <input asp-for="ConfirmPassword" placeholder="Подтверждение" />
                <b class="tooltip tooltip-bottom-right">Подтверждение</b>
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="button">Вход</button>
    </footer>
</form>