@model Kit.Dal.CQRS.Command.ChangePassword.ChangePasswordCommand

<h1>Введите новый пароль</h1>
<form asp-controller="Auth" asp-action="Change" returnurl="@ViewData["ReturnUrl"]" method="post">
    <p>
        <input asp-for="OldPassword" placeholder="Текущий пароль" />
    </p>
    <p>
        <input asp-for="NewPassword" placeholder="Новый пароль" />
    </p>
    <p>
        <input asp-for="ConfirmPassword" placeholder="Подтвердите пароль" />
    </p>
    <p class="submit">
        <input type="submit" name="commit" value="Применить">
    </p>
</form>