@using System.Threading.Tasks
@using Kit.Dal.CQRS.Command.Login
@using Kit.Kernel.Configuration
@using Kit.Kernel.Web.HtmlHelper
@using Microsoft.Extensions.OptionsModel

@inject IOptions<AppSettings> appSettings
@model LoginCommand

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@appSettings.Value.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <div id="bg"></div>
    <div id="wrapper">
        <section class="block">
            <div id="divLogin" class="login">
                <h1>Авторизация</h1>
                <form asp-controller="Auth" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccess">
                    <p>
                        <input asp-for="Login" placeholder="Имя пользователя" />
                    </p>
                    <p>
                        <input asp-for="Password" placeholder="Пароль" />
                    </p>
                    <p class="contact-input">
                        <label asp-for="DataSource" class="select">
                            <select asp-for="DataSource" asp-items="ViewBag.TnsNames"></select>
                        </label>
                    </p>
                    <p class="submit">
                        <input type="submit" name="commit" value="Вход">
                    </p>
                </form>
            </div>
        </section>
        <section class="validation">
            <div asp-validation-summary="ValidationSummary.All">
            </div>
        </section>
        <section class="about">
            <p class="about-author">
                &copy; 2015&ndash;2016 <a href="http://http://tatintec.ru/asu" target="_blank">НТЦ ПР</a> - <a href="http://http://tatintec.ru/asu" target="_blank">ТатАСУ</a>
        </section>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/microsoft.jquery.unobtrusive.ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-confirm/jquery.confirm.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>

    <script type="text/javascript">
        var $ul;
        $(function () {
            $divLogin = $('#divLogin');
            $ul = $('section.validation ul');
        });

        @Html.EnumToJs(typeof(LoginStatus))
        onSuccess = function (result, status, xhr) {

            debugger;
            switch (result.status) {
                case LoginStatus.Success:
                    window.location = result.returnUrl;
                    break;

                case LoginStatus.Expired:
                    $divLogin.html(result.data);
                    break;

                case LoginStatus.Expiring:
                    $.confirm({
                        confirmButton: "Да",
                        cancelButton: "Нет",
                        text: result.message,
                        confirm: function () {
                            $.get('/change?' + result.returnUrl, function(data) {
                                $divLogin.html(data);
                            });
                        },
                        cancel: function () { window.location = result.returnUrl; }
                    });

                    break;

                default:

                    $('.validation div')
                        .addClass('validation-summary-errors')
                        .removeClass('validation-summary-valid');

                    $ul.empty()
                        .append('<li>' + result.message + '</li>');
                    break;
            }


        }
    </script>
</body>

</html>