@using System.Threading.Tasks
@using Kit.Dal.CQRS.Command.Login
@using Kit.Kernel.Configuration
@using Kit.Kernel.Web.HtmlHelper
@using Microsoft.Extensions.OptionsModel
@inject IOptions<AppSettings> appSettings
@model Kit.Dal.CQRS.Command.Login.LoginCommand
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>@appSettings.Value.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/sky-forms.css">
        <link rel="stylesheet" href="~/css/open-sans.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/sky-forms.min.css">
        <link rel="stylesheet" href="~/css/open-sans.min.css" />
    </environment>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="~/css/sky-forms-ie8.css">
    <![endif]-->
</head>
<body class="bg-cyan">
    <div class="body body-s">
        <form asp-controller="Auth" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccess" class="sky-form">
            <header>Войти в систему</header>

            <fieldset>
                <section>
                    <label class="input">
                        <i class="icon-append icon-user"></i>
                        <input asp-for="Login" placeholder="Пользователь" />
                        <b class="tooltip tooltip-bottom-right">Пользователь</b>
                    </label>
                </section>

                <section>
                    <label class="input">
                        <i class="icon-append icon-lock"></i>
                        <input asp-for="Password" placeholder="Пароль" />
                        <b class="tooltip tooltip-bottom-right">Пароль</b>
                    </label>
                </section>

                <section>
                    <label class="select">
                        <i></i>
                        <select asp-for="DataSource" asp-items="ViewBag.TnsNames"></select>
                    </label>
                </section>
            </fieldset>
            <footer>
                <button type="submit" class="button">Вход</button>
            </footer>
        </form>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/microsoft.jquery.unobtrusive.ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-confirm/jquery.confirm.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
    <!--[if lt IE 10]>
        <script src="~/lib/jquery.placeholder/jquery.placeholder.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="~/js/sky-forms-ie8.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var $ul;
        $(function () {
            $divBody = $('div.body');
            $ul = $('section.validation ul');
        });

        @Html.EnumToJs(typeof(LoginStatus))
        onSuccess = function (result, status, xhr) {

            debugger;
            switch (result.status) {
                case LoginStatus.Success:
                    window.location = result.returnUrl;
                    break;

                case LoginStatus.Expired:
                    $divLogin.html(result.data);
                    break;

                case LoginStatus.Expiring:
                    $.confirm({
                        confirmButton: "Да",
                        cancelButton: "Нет",
                        text: result.message,
                        confirm: function () {
                            $.get('/change?' + result.returnUrl, function(data) {
                                $divBody.html(data);
                            });
                        },
                        cancel: function () { window.location = result.returnUrl; }
                    });

                    break;

                default:

                    $('.validation div')
                        .addClass('validation-summary-errors')
                        .removeClass('validation-summary-valid');

                    $ul.empty()
                        .append('<li>' + result.message + '</li>');
                    break;
            }


        }
    </script>
</body>
</html>