@using System.Threading.Tasks

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <div id="bg"></div>
    <div id="wrapper">
        @await Html.PartialAsync("_LoginPartial")
        <section class="about">
            <p class="about-author">
                &copy; 2015&ndash;2016 <a href="http://http://tatintec.ru/asu" target="_blank">НТЦ ПР</a> - <a href="http://http://tatintec.ru/asu" target="_blank">ТатАСУ</a>
        </section>
    </div>
</body>
</html>
